*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
}  
img{
    max-width: 100%;
    height: auto;
}

#Latestoffer{
    margin-left: 250px;
    gap: 100px;
}
.left-nav li{
    padding: 8px;
}
.right-nav li{
    padding: 8px;
}
.hovergrey:hover{
    color: #5f5f5f;
    cursor: pointer;
}
.btnhovergrey{
    background-color: #000;
    cursor: pointer;
}
.btnhovergrey:hover{
    background-color: #5f5f5f;
    cursor: pointer;
}
.cardhover{
    transition: 0.2s ease-in-out;
}
.cardhover:hover{
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
    transition: 0.2s ease-in-out;
}
.mx-more{
    margin: 0 230px;
}




.socialContainer {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2c2c2c;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}
.containerFour{
    position: fixed;
    right: 10px;
    bottom: 4%;
}
.containerFour:hover {
   background-color: #128C7E;
    transition-duration: .3s;
}
.socialSvg {
    width: 24px;
}
.socialSvg path {
    fill: #ffffff;
}
  
.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}
  
.modaaal{
    position: fixed;
    right: -25px;
    bottom: 35%;
    rotate: 270deg;
}
.cartpayment{
    margin-top: 80px;
    margin-left: 200px;
}











@media only screen and (max-width: 800px) {
    body {
      font-size: 14px;
    }
    img{
        width: 70%;
        height: auto;
    }
  }


@keyframes slide-in-top {
0% {
  transform: translateY(-50px);
  opacity: 0;
}
 100% {
  transform: translateY(0);
  opacity: 1;
}
}
  
  